@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,500&family=Outfit:wght@200;300;400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Universal Style Traits */
:root {
  --text-color-1: black;
  --text-color-2: white;
  --text-color-3: rgb(105, 105, 105);
  --main-1: rgb(255, 225, 98);
  --main-2: rgb(255, 100, 100);
  --main-3: rgb(145, 196, 131);
  --main-4: rgb(238, 238, 238);
  --main-5: rgb(55,118,171);
}

}

body {
    margin:0;
    font-family: 'Montserrat','Outfit', sans-serif;
    font-size: 16px;
    border: none;
}

section {
    padding-bottom: 2em;
}

ul{ list-style-type: none;}
a { text-decoration: none;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Outfit', sans-serif;
	font-weight: 900;
}

p {
	font-size: 0.9rem;
	font-weight: 300;
}

ul {
    padding-left: 0;
}

/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */

/* Universal classes*/

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container {
    border: 1px solid rgb(222, 222, 222);
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    top: 5em;
    padding-bottom: 2em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
}
.container__title {
    font-size: 2rem;
    padding: 0.5em 1em;
    margin: 0;
}
/* Add/Edit Container */
.container__main {
    border: 1px solid rgb(222, 222, 222);
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    top: 5em;
    padding-bottom: 2em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
}

.btn {
    font-family: 'Montserrat', sans-serif;
    max-width: fit-content;
	border: 1px solid rgb(154, 154, 154);
	padding: 0.25em 0.75em;
	color: var(--text-color-1);
	text-align: center;
	font-weight: 400;
}

/* Mobile First */

/* Navbar */

.navbar {
	text-align: center;
	z-index: 999;
    top:0;
    left: 0;
    position: fixed;
    width:100%;
	background-color: var(--main-5);
}

.nav__list {
	align-items: center;
	padding: 0 1.5em;
	font-size: 1rem;
}

.nav__item {
	/* border: 1px solid white; */
	font-family: 'Montserrat', serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	vertical-align: middle;
}

.logo {
	font-family: 'Outfit', sans-serif;
	font-weight: 900;
	color: var(--text-color-2);
}

.nav__link {
    color: var(--text-color-2);
}

/* To-Do cards */
.container-list {
    padding-top: 5em;
}

.card__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.list__item {
    border: 1px solid rgb(222, 222, 222);
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.75rem;
}

.missing {
    font-weight: 700;
    color: var(--main-2);
}

.active {
    background-color: rgb(250, 250, 250);
    color: var(--text-color-1);
    width: 70%;
    margin-bottom: 2em;
}

.item{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 0.8em;
}

.btn__container {
    width: fit-content;
    margin: 0 auto;
}
.btn + .btn {
    margin-left: 1em;
}

#btn_edit {
    font-size: 1.2rem;
    background-color: var(--main-1);
}

#btn_del, #btn__cancel {
    font-size: 1.2rem;
    background-color: var(--main-2);
    color: var(--text-color-2);
}

#btn__cancel {
    margin-right: 1em;
}

#btn_add {
    margin: 0 auto;
    background-color: var(--main-3);
    color: var(--text-color-2);
    font-size: 1.2rem;
}

/* Add task page styling */

.task__form {
    font-size: 1.5rem;
}

.task__title {
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em 0 0.5em 1em;
}

.task__input {
    width: 60%;
    padding: 0.5em;
    font-size: 1.5rem;
}

#btn__submit {
    margin: 0 1em;
    padding: 0.25em 0.75em;
    font-size: 1.5rem;
    background-color: var(--main-3);
    color: var(--text-color-2);
}

.edit {
    margin-left: 2em;
}

@media (max-width: 450px) {
    .container__title {
        font-size: 1.5rem;
    }
    .item {
        font-size: 1.2rem;
    }
    .row{
        flex-direction: column;
        gap: 0.5em;
    }
    .btn__container {
        max-width: 80%;
    }
    .btn + .btn {
        margin-left: 0;
    }

    #btn_del, #btn_edit{
        font-size: 0.9rem;
        margin: 0;
    }

}



@media (min-width: 750px) {
    .container {
        max-width: 1200px;
    }

    .container-list > .container-add {
        width: 600px;
    }

    .container-add > .container__title {
        text-align: center;
    }

    .wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    ul > li {
       max-width: 45%;
       margin-right: 1em;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1800px;
    }

    .wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
     }

     ul > li {
        max-width: 27%;
        margin-right: 1em;
     }

}