@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,500&family=Outfit:wght@200;300;400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Universal Style Traits */
:root {
  --text-color-1: black;
  --text-color-2: white;
  --main-1: rgb(255, 225, 98);
  --main-2: rgb(255, 100, 100);
  --main-3: rgb(145, 196, 131);
  --main-4: rgb(238, 238, 238);
  --main-5: rgb(55,118,171);
}

}
body {
    margin:0;
    font-family: 'Montserrat','Outfit', sans-serif;
    font-size: 16px;
    border: none;
}

ul{ list-style-type: none;}
a { text-decoration: none;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Outfit', sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
}

p {
	font-size: 0.9rem;
	font-weight: 300;
}


/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */

/* Universal classes*/

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.btn {
    border: 1px solid red;
    padding: 0.25em 0.75em;
}

/* Mobile First */

/* Navbar */

.navbar {
	padding-bottom: 1em;
	text-align: center;
	z-index: 999;
    top:0;
    left: 0;
    position: fixed;
    width:100%;
	background-color: var(--main-5);
}

.nav__list {
	padding: 0;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	align-items: center;
	list-style: none;
}

.nav__item {
	padding-top: 0.5em;
	/* border: 1px solid white; */
	font-family: 'Montserrat', serif;
	text-transform: uppercase;
}

.nav__item + .nav__item {
	margin-left: 3em;
}

.logo {
	font-family: 'Outfit', sans-serif;
	font-weight: 900;
}

.nav__link {
    color: var(--text-color-2);
}

/* To-Do cards */
.container-list {
    padding-top: 5em;
    border: 1px solid black;
}

/* Card */
.