<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Task</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header id="main-header" class="main-header">
        <nav class="nav-bar">
            <ul>
              <li class="nav-link--brand-link" id="brand-link"><a href="#home">KR</a></li>
              <li class="nav-link--title" id="title"><a href="{{url_for('home')}}">To-Do List</a></li>
              <li class="nav-link"><a href="#projects">More Projects</a></li>
            </ul>
        </nav>
    </header>
    <main class="container-main--add">
        <h3 class="title">Add Task</h3>
        <form action="{{url_for('add')}}" method="POST">
            <label>Task</label>
            <input id="task" name='task' type="text">
            <button class="btn" id="btn_submit" type="submit">Add</button>
        </form>
    </main>

</body>
</html>