<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Task</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<!-- Navbar-->
    <header id="navbar" class="navbar">
        <nav class="nav">
            <ul class="nav__list row">
              <li class="nav__item" id="logo"><a class="logo" href="#home">KR</a></li>
              <li class="nav__item" id="title"><a class="nav__link" href="{{url_for('home')}}">To-Do List</a></li>
            </ul>
        </nav>
    </header>

<!-- Add task card-->
    <section class="container container__main col">
        <div class="card__navbar">
            <h3 class="container__title">Add Task</h3>
            <a class="btn" id="btn__cancel" href="{{url_for('home')}}">Cancel</a>
        </div>
        <form action="{{url_for('add')}}" method="POST" class="row task__form">
            <label class="task__title">Task</label>
            <input id="task" class="task__input" name='task' type="text">
            <button class="btn" id="btn__submit" type="submit">Add</button>
        </form>
    </section>

</body>
</html>