<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Item Lister</title>
</head>
<body>
<!-- Navbar-->
    <header id="navbar" class="navbar">
        <nav class="nav">
            <ul class="nav__list row">
              <li class="nav__item" id="logo"><a class="logo" href="#home">KR</a></li>
              <li class="nav__item" id="title"><a class="nav__link" href="{{url_for('home')}}">To-Do List</a></li>
            </ul>
        </nav>
    </header>
<!--Main Section-->
    <section class="container-list col">
        <div class="container col">
            <h3 class="container__title">Items</h3>
<!--            If the python file cannot detect any tasks, display no tasks-->
            <div class="list__items">
                {% if not list_tasks %}
                <p class="list__item list__item missing">No Tasks</p>
                {% endif %}
                <ul class="wrap">
                    {% for task in list_tasks %}
                    <li class="list__item active">
                        <p class="item">{{ task.task}}</p>
                        <div class="btn__container row">
                            <a class="btn" id="btn_edit" href="{{url_for('edit', id=task.id) }}">Edit</a>
                            <a class="btn" id="btn_del" href="{{url_for('delete_task', id=task.id)}}">Delete</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
       <div class="container-add container col">
           <h3 class="container__title">Add Items</h3>
           <a class="btn" id="btn_add" href="{{url_for('add')}}">Add</a>
       </div>
    </section>
</body>
</html>